#header {
	@apply mt-12
		text-center
		text-3xl
		font-bold;

	background-image: linear-gradient(90deg, #cffafe, #0891b2);
	background-size: 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
